:root {
    --primary: #2D2D2D;
    --grey: #F3F3F3;
    --font-primary: "Epilogue", sans-serif;
}

html, body {
  font-family: var(--font-primary);
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.container {
    max-width: 1300px !important;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.small-container {
  max-width: 1100px !important;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}